(edif test (edifVersion 2 0 0) (edifLevel 0) (keywordMap (keywordLevel 0))
(status (written (timeStamp 2010 1 6 14 58 59)
   (author "Xilinx, Inc.")
   (program "Xilinx CORE Generator" (version "Xilinx CORE Generator 10.1.03; Cores Update # 3"))))
   (comment "                                                                                
      This file is owned and controlled by Xilinx and must be used              
      solely for design, simulation, implementation and creation of             
      design files limited to Xilinx devices or technologies. Use               
      with non-Xilinx devices or technologies is expressly prohibited           
      and immediately terminates your license.                                  
                                                                                
      XILINX IS PROVIDING THIS DESIGN, CODE, OR INFORMATION 'AS IS'             
      SOLELY FOR USE IN DEVELOPING PROGRAMS AND SOLUTIONS FOR                   
      XILINX DEVICES.  BY PROVIDING THIS DESIGN, CODE, OR INFORMATION           
      AS ONE POSSIBLE IMPLEMENTATION OF THIS FEATURE, APPLICATION               
      OR STANDARD, XILINX IS MAKING NO REPRESENTATION THAT THIS                 
      IMPLEMENTATION IS FREE FROM ANY CLAIMS OF INFRINGEMENT,                   
      AND YOU ARE RESPONSIBLE FOR OBTAINING ANY RIGHTS YOU MAY REQUIRE          
      FOR YOUR IMPLEMENTATION.  XILINX EXPRESSLY DISCLAIMS ANY                  
      WARRANTY WHATSOEVER WITH RESPECT TO THE ADEQUACY OF THE                   
      IMPLEMENTATION, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OR            
      REPRESENTATIONS THAT THIS IMPLEMENTATION IS FREE FROM CLAIMS OF           
      INFRINGEMENT, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS           
      FOR A PARTICULAR PURPOSE.                                                 
                                                                                
      Xilinx products are not intended for use in life support                  
      appliances, devices, or systems. Use in such applications are             
      expressly prohibited.                                                     
                                                                                
      (c) Copyright 1995-2007 Xilinx, Inc.                                      
      All rights reserved.                                                      
                                                                                
   ")
   (comment "Core parameters: ")
       (comment "c_sinit_value = 0 ")
       (comment "c_has_en = 1 ")
       (comment "c_reg_inputs = 0 ")
       (comment "c_yclk_is_rising = 1 ")
       (comment "c_ysinit_is_high = 1 ")
       (comment "c_ywe_is_high = 1 ")
       (comment "c_yprimitive_type = 16kx1 ")
       (comment "c_ytop_addr = 1024 ")
       (comment "c_yhierarchy = hierarchy1 ")
       (comment "c_has_limit_data_pitch = 0 ")
       (comment "c_has_rdy = 0 ")
       (comment "c_write_mode = 0 ")
       (comment "c_width = 8 ")
       (comment "c_yuse_single_primitive = 0 ")
       (comment "c_has_nd = 0 ")
       (comment "c_has_we = 0 ")
       (comment "c_enable_rlocs = 0 ")
       (comment "c_has_rfd = 0 ")
       (comment "c_has_din = 0 ")
       (comment "c_ybottom_addr = 0 ")
       (comment "c_pipe_stages = 1 ")
       (comment "c_yen_is_high = 1 ")
       (comment "c_family = virtex2p ")
       (comment "InstanceName = single_port_block_memory_virtex2p_6_1_d13072650a2ab55b ")
       (comment "c_depth = 2048 ")
       (comment "c_has_default_data = 0 ")
       (comment "c_limit_data_pitch = 18 ")
       (comment "c_has_sinit = 0 ")
       (comment "c_mem_init_file = single_port_block_memory_virtex2p_6_1_d13072650a2ab55b.mif ")
       (comment "c_yydisable_warnings = 1 ")
       (comment "c_default_data = 0 ")
       (comment "c_ymake_bmm = 0 ")
       (comment "c_addr_width = 11 ")
   (external xilinxun (edifLevel 0)
      (technology (numberDefinition))
       (cell VCC (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port P (direction OUTPUT))
               )
           )
       )
       (cell GND (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port G (direction OUTPUT))
               )
           )
       )
       (cell FDE (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port D (direction INPUT))
                   (port C (direction INPUT))
                   (port CE (direction INPUT))
                   (port Q (direction OUTPUT))
               )
           )
       )
       (cell RAMB16_S9 (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port WE (direction INPUT))
                   (port EN (direction INPUT))
                   (port SSR (direction INPUT))
                   (port CLK (direction INPUT))
                   (port (rename DI_0_ "DI(0)") (direction INPUT))
                   (port (rename DI_1_ "DI(1)") (direction INPUT))
                   (port (rename DI_2_ "DI(2)") (direction INPUT))
                   (port (rename DI_3_ "DI(3)") (direction INPUT))
                   (port (rename DI_4_ "DI(4)") (direction INPUT))
                   (port (rename DI_5_ "DI(5)") (direction INPUT))
                   (port (rename DI_6_ "DI(6)") (direction INPUT))
                   (port (rename DI_7_ "DI(7)") (direction INPUT))
                   (port (rename DO_0_ "DO(0)") (direction OUTPUT))
                   (port (rename DO_1_ "DO(1)") (direction OUTPUT))
                   (port (rename DO_2_ "DO(2)") (direction OUTPUT))
                   (port (rename DO_3_ "DO(3)") (direction OUTPUT))
                   (port (rename DO_4_ "DO(4)") (direction OUTPUT))
                   (port (rename DO_5_ "DO(5)") (direction OUTPUT))
                   (port (rename DO_6_ "DO(6)") (direction OUTPUT))
                   (port (rename DO_7_ "DO(7)") (direction OUTPUT))
                   (port (rename ADDR_0_ "ADDR(0)") (direction INPUT))
                   (port (rename ADDR_1_ "ADDR(1)") (direction INPUT))
                   (port (rename ADDR_2_ "ADDR(2)") (direction INPUT))
                   (port (rename ADDR_3_ "ADDR(3)") (direction INPUT))
                   (port (rename ADDR_4_ "ADDR(4)") (direction INPUT))
                   (port (rename ADDR_5_ "ADDR(5)") (direction INPUT))
                   (port (rename ADDR_6_ "ADDR(6)") (direction INPUT))
                   (port (rename ADDR_7_ "ADDR(7)") (direction INPUT))
                   (port (rename ADDR_8_ "ADDR(8)") (direction INPUT))
                   (port (rename ADDR_9_ "ADDR(9)") (direction INPUT))
                   (port (rename ADDR_10_ "ADDR(10)") (direction INPUT))
                   (port (rename DIP_0_ "DIP(0)") (direction INPUT))
                   (port (rename DOP_0_ "DOP(0)") (direction OUTPUT))
               )
           )
       )
   )
(library test_lib (edifLevel 0) (technology (numberDefinition (scale 1 (E 1 -12) (unit Time))))
(cell single_port_block_memory_virtex2p_6_1_d13072650a2ab55b
 (cellType GENERIC) (view view_1 (viewType NETLIST)
  (interface
   (port ( array ( rename addr "addr(10:0)") 11 ) (direction INPUT))
   (port ( rename clk "clk") (direction INPUT))
   (port ( rename en "en") (direction INPUT))
   (port ( array ( rename dout "dout(7:0)") 8 ) (direction OUTPUT))
   )
  (contents
   (instance VCC (viewRef view_1 (cellRef VCC  (libraryRef xilinxun))))
   (instance GND (viewRef view_1 (cellRef GND  (libraryRef xilinxun))))
   (instance B6
      (viewRef view_1 (cellRef RAMB16_S9 (libraryRef xilinxun)))
      (property INIT_00 (string "0101010101010101010101010101010101000000000000000000000000000000"))
      (property INIT_01 (string "0202020202020202020202020202020202020202020101010101010101010101"))
      (property INIT_02 (string "0404030303030303030303030303030303030303030303030303030202020202"))
      (property INIT_03 (string "0505050505050505050504040404040404040404040404040404040404040404"))
      (property INIT_04 (string "0606060606060606060606060606060606060605050505050505050505050505"))
      (property INIT_05 (string "0808080808080808070707070707070707070707070707070707070707060606"))
      (property INIT_06 (string "0909090909090909090909090909090909090909080808080808080808080808"))
      (property INIT_07 (string "0b0b0b0b0b0b0b0b0b0b0b0b0b0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a"))
      (property INIT_08 (string "0d0d0d0d0d0d0d0d0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0c0b0b0b0b0b0b"))
      (property INIT_09 (string "0f0f0f0f0f0e0e0e0e0e0e0e0e0e0e0e0e0e0e0e0e0e0e0d0d0d0d0d0d0d0d0d"))
      (property INIT_0A (string "11111111101010101010101010101010101010100f0f0f0f0f0f0f0f0f0f0f0f"))
      (property INIT_0B (string "1313131312121212121212121212121212121212111111111111111111111111"))
      (property INIT_0C (string "1515151515141414141414141414141414141414131313131313131313131313"))
      (property INIT_0D (string "1717171717171716161616161616161616161616161615151515151515151515"))
      (property INIT_0E (string "1919191919191919191918181818181818181818181818181717171717171717"))
      (property INIT_0F (string "1b1b1b1b1b1b1b1b1b1b1b1b1b1a1a1a1a1a1a1a1a1a1a1a1a1a1a1a19191919"))
      (property INIT_10 (string "1e1e1e1e1d1d1d1d1d1d1d1d1d1d1d1d1d1d1c1c1c1c1c1c1c1c1c1c1c1c1c1c"))
      (property INIT_11 (string "202020202020202020201f1f1f1f1f1f1f1f1f1f1f1f1f1e1e1e1e1e1e1e1e1e"))
      (property INIT_12 (string "2323232222222222222222222222222221212121212121212121212121202020"))
      (property INIT_13 (string "2525252525252525252524242424242424242424242423232323232323232323"))
      (property INIT_14 (string "2828282827272727272727272727272727262626262626262626262626252525"))
      (property INIT_15 (string "2a2a2a2a2a2a2a2a2a2a2a2a2929292929292929292929292828282828282828"))
      (property INIT_16 (string "2d2d2d2d2d2d2d2d2c2c2c2c2c2c2c2c2c2c2c2c2b2b2b2b2b2b2b2b2b2b2b2b"))
      (property INIT_17 (string "303030302f2f2f2f2f2f2f2f2f2f2f2f2e2e2e2e2e2e2e2e2e2e2e2e2d2d2d2d"))
      (property INIT_18 (string "3333323232323232323232323231313131313131313131313130303030303030"))
      (property INIT_19 (string "3535353535353535353534343434343434343434343433333333333333333333"))
      (property INIT_1A (string "3838383838383838373737373737373737373737363636363636363636363635"))
      (property INIT_1B (string "3b3b3b3b3b3b3a3a3a3a3a3a3a3a3a3a3a3a3939393939393939393939383838"))
      (property INIT_1C (string "3e3e3e3e3e3d3d3d3d3d3d3d3d3d3d3d3c3c3c3c3c3c3c3c3c3c3c3b3b3b3b3b"))
      (property INIT_1D (string "41414140404040404040404040403f3f3f3f3f3f3f3f3f3f3f3e3e3e3e3e3e3e"))
      (property INIT_1E (string "4443434343434343434343434242424242424242424242424141414141414141"))
      (property INIT_1F (string "4646464646464646464646454545454545454545454544444444444444444444"))
      (property INIT_20 (string "4949494949494949494848484848484848484848474747474747474747474747"))
      (property INIT_21 (string "4c4c4c4c4c4c4c4b4b4b4b4b4b4b4b4b4b4b4b4a4a4a4a4a4a4a4a4a4a4a4949"))
      (property INIT_22 (string "4f4f4f4f4f4e4e4e4e4e4e4e4e4e4e4e4e4d4d4d4d4d4d4d4d4d4d4d4c4c4c4c"))
      (property INIT_23 (string "52525251515151515151515151515150505050505050505050504f4f4f4f4f4f"))
      (property INIT_24 (string "5454545454545454545454545353535353535353535353535252525252525252"))
      (property INIT_25 (string "5757575757575757575656565656565656565656565555555555555555555555"))
      (property INIT_26 (string "5a5a5a5a5a595959595959595959595959585858585858585858585858575757"))
      (property INIT_27 (string "5d5c5c5c5c5c5c5c5c5c5c5c5c5b5b5b5b5b5b5b5b5b5b5b5b5a5a5a5a5a5a5a"))
      (property INIT_28 (string "5f5f5f5f5f5f5f5f5e5e5e5e5e5e5e5e5e5e5e5e5d5d5d5d5d5d5d5d5d5d5d5d"))
      (property INIT_29 (string "626261616161616161616161616161606060606060606060606060605f5f5f5f"))
      (property INIT_2A (string "6464646464646464636363636363636363636363636262626262626262626262"))
      (property INIT_2B (string "6666666666666666666666666665656565656565656565656565656464646464"))
      (property INIT_2C (string "6969696968686868686868686868686868686767676767676767676767676767"))
      (property INIT_2D (string "6b6b6b6b6b6b6b6a6a6a6a6a6a6a6a6a6a6a6a6a6a6a69696969696969696969"))
      (property INIT_2E (string "6d6d6d6d6d6d6d6d6d6d6c6c6c6c6c6c6c6c6c6c6c6c6c6c6c6b6b6b6b6b6b6b"))
      (property INIT_2F (string "6f6f6f6f6f6f6f6f6f6f6f6e6e6e6e6e6e6e6e6e6e6e6e6e6e6e6d6d6d6d6d6d"))
      (property INIT_30 (string "7171717171717171717170707070707070707070707070707070706f6f6f6f6f"))
      (property INIT_31 (string "7373737373737373727272727272727272727272727272727272717171717171"))
      (property INIT_32 (string "7575757574747474747474747474747474747474747473737373737373737373"))
      (property INIT_33 (string "7676767676767676767676767676767675757575757575757575757575757575"))
      (property INIT_34 (string "7878787878787877777777777777777777777777777777777777777776767676"))
      (property INIT_35 (string "7979797979797979797979797979797979787878787878787878787878787878"))
      (property INIT_36 (string "7a7a7a7a7a7a7a7a7a7a7a7a7a7a7a7a7a7a7a7a7a7a7a7a7a79797979797979"))
      (property INIT_37 (string "7c7c7c7c7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7a"))
      (property INIT_38 (string "7d7d7d7d7c7c7c7c7c7c7c7c7c7c7c7c7c7c7c7c7c7c7c7c7c7c7c7c7c7c7c7c"))
      (property INIT_39 (string "7e7d7d7d7d7d7d7d7d7d7d7d7d7d7d7d7d7d7d7d7d7d7d7d7d7d7d7d7d7d7d7d"))
      (property INIT_3A (string "7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e"))
      (property INIT_3B (string "7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7e7e7e7e7e7e7e7e7e7e7e"))
      (property INIT_3C (string "7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f"))
      (property INIT_3D (string "7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f"))
      (property INIT_3E (string "7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f"))
      (property INIT_3F (string "7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f"))
      (property INITP_00 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INITP_01 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INITP_02 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INITP_03 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INITP_04 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INITP_05 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INITP_06 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INITP_07 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property WRITE_MODE (string "WRITE_FIRST"))
      (property INIT (string "000"))
      (property SRVAL (string "000"))
   )
   (instance BU9
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU11
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU13
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU15
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU17
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU19
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU21
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU23
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (net N0
    (joined
      (portRef G (instanceRef GND))
      (portRef WE (instanceRef B6))
      (portRef SSR (instanceRef B6))
      (portRef DI_0_ (instanceRef B6))
      (portRef DI_1_ (instanceRef B6))
      (portRef DI_2_ (instanceRef B6))
      (portRef DI_3_ (instanceRef B6))
      (portRef DI_4_ (instanceRef B6))
      (portRef DI_5_ (instanceRef B6))
      (portRef DI_6_ (instanceRef B6))
      (portRef DI_7_ (instanceRef B6))
      (portRef DIP_0_ (instanceRef B6))
    )
   )
   (net (rename N2 "addr(10)")
    (joined
      (portRef (member addr 0))
      (portRef ADDR_10_ (instanceRef B6))
    )
   )
   (net (rename N3 "addr(9)")
    (joined
      (portRef (member addr 1))
      (portRef ADDR_9_ (instanceRef B6))
    )
   )
   (net (rename N4 "addr(8)")
    (joined
      (portRef (member addr 2))
      (portRef ADDR_8_ (instanceRef B6))
    )
   )
   (net (rename N5 "addr(7)")
    (joined
      (portRef (member addr 3))
      (portRef ADDR_7_ (instanceRef B6))
    )
   )
   (net (rename N6 "addr(6)")
    (joined
      (portRef (member addr 4))
      (portRef ADDR_6_ (instanceRef B6))
    )
   )
   (net (rename N7 "addr(5)")
    (joined
      (portRef (member addr 5))
      (portRef ADDR_5_ (instanceRef B6))
    )
   )
   (net (rename N8 "addr(4)")
    (joined
      (portRef (member addr 6))
      (portRef ADDR_4_ (instanceRef B6))
    )
   )
   (net (rename N9 "addr(3)")
    (joined
      (portRef (member addr 7))
      (portRef ADDR_3_ (instanceRef B6))
    )
   )
   (net (rename N10 "addr(2)")
    (joined
      (portRef (member addr 8))
      (portRef ADDR_2_ (instanceRef B6))
    )
   )
   (net (rename N11 "addr(1)")
    (joined
      (portRef (member addr 9))
      (portRef ADDR_1_ (instanceRef B6))
    )
   )
   (net (rename N12 "addr(0)")
    (joined
      (portRef (member addr 10))
      (portRef ADDR_0_ (instanceRef B6))
    )
   )
   (net (rename N13 "clk")
    (joined
      (portRef clk)
      (portRef CLK (instanceRef B6))
      (portRef C (instanceRef BU9))
      (portRef C (instanceRef BU11))
      (portRef C (instanceRef BU13))
      (portRef C (instanceRef BU15))
      (portRef C (instanceRef BU17))
      (portRef C (instanceRef BU19))
      (portRef C (instanceRef BU21))
      (portRef C (instanceRef BU23))
    )
   )
   (net (rename N22 "dout(7)")
    (joined
      (portRef (member dout 0))
      (portRef Q (instanceRef BU23))
    )
   )
   (net (rename N23 "dout(6)")
    (joined
      (portRef (member dout 1))
      (portRef Q (instanceRef BU21))
    )
   )
   (net (rename N24 "dout(5)")
    (joined
      (portRef (member dout 2))
      (portRef Q (instanceRef BU19))
    )
   )
   (net (rename N25 "dout(4)")
    (joined
      (portRef (member dout 3))
      (portRef Q (instanceRef BU17))
    )
   )
   (net (rename N26 "dout(3)")
    (joined
      (portRef (member dout 4))
      (portRef Q (instanceRef BU15))
    )
   )
   (net (rename N27 "dout(2)")
    (joined
      (portRef (member dout 5))
      (portRef Q (instanceRef BU13))
    )
   )
   (net (rename N28 "dout(1)")
    (joined
      (portRef (member dout 6))
      (portRef Q (instanceRef BU11))
    )
   )
   (net (rename N29 "dout(0)")
    (joined
      (portRef (member dout 7))
      (portRef Q (instanceRef BU9))
    )
   )
   (net (rename N30 "en")
    (joined
      (portRef en)
      (portRef EN (instanceRef B6))
      (portRef CE (instanceRef BU9))
      (portRef CE (instanceRef BU11))
      (portRef CE (instanceRef BU13))
      (portRef CE (instanceRef BU15))
      (portRef CE (instanceRef BU17))
      (portRef CE (instanceRef BU19))
      (portRef CE (instanceRef BU21))
      (portRef CE (instanceRef BU23))
    )
   )
   (net N193
    (joined
      (portRef DO_7_ (instanceRef B6))
      (portRef D (instanceRef BU23))
    )
   )
   (net N194
    (joined
      (portRef DO_6_ (instanceRef B6))
      (portRef D (instanceRef BU21))
    )
   )
   (net N195
    (joined
      (portRef DO_5_ (instanceRef B6))
      (portRef D (instanceRef BU19))
    )
   )
   (net N196
    (joined
      (portRef DO_4_ (instanceRef B6))
      (portRef D (instanceRef BU17))
    )
   )
   (net N197
    (joined
      (portRef DO_3_ (instanceRef B6))
      (portRef D (instanceRef BU15))
    )
   )
   (net N198
    (joined
      (portRef DO_2_ (instanceRef B6))
      (portRef D (instanceRef BU13))
    )
   )
   (net N199
    (joined
      (portRef DO_1_ (instanceRef B6))
      (portRef D (instanceRef BU11))
    )
   )
   (net N200
    (joined
      (portRef DO_0_ (instanceRef B6))
      (portRef D (instanceRef BU9))
    )
   )
))))
(design single_port_block_memory_virtex2p_6_1_d13072650a2ab55b (cellRef single_port_block_memory_virtex2p_6_1_d13072650a2ab55b (libraryRef test_lib))
  (property X_CORE_INFO (string "blkmemsp_v6_1, Xilinx CORE Generator 10.1.03_ip3"))
  (property PART (string "xc2vp2-fg256-7") (owner "Xilinx"))
))
