(edif test (edifVersion 2 0 0) (edifLevel 0) (keywordMap (keywordLevel 0))
(status (written (timeStamp 2010 1 6 14 58 45)
   (author "Xilinx, Inc.")
   (program "Xilinx CORE Generator" (version "Xilinx CORE Generator 10.1.03; Cores Update # 3"))))
   (comment "                                                                                
      This file is owned and controlled by Xilinx and must be used              
      solely for design, simulation, implementation and creation of             
      design files limited to Xilinx devices or technologies. Use               
      with non-Xilinx devices or technologies is expressly prohibited           
      and immediately terminates your license.                                  
                                                                                
      XILINX IS PROVIDING THIS DESIGN, CODE, OR INFORMATION 'AS IS'             
      SOLELY FOR USE IN DEVELOPING PROGRAMS AND SOLUTIONS FOR                   
      XILINX DEVICES.  BY PROVIDING THIS DESIGN, CODE, OR INFORMATION           
      AS ONE POSSIBLE IMPLEMENTATION OF THIS FEATURE, APPLICATION               
      OR STANDARD, XILINX IS MAKING NO REPRESENTATION THAT THIS                 
      IMPLEMENTATION IS FREE FROM ANY CLAIMS OF INFRINGEMENT,                   
      AND YOU ARE RESPONSIBLE FOR OBTAINING ANY RIGHTS YOU MAY REQUIRE          
      FOR YOUR IMPLEMENTATION.  XILINX EXPRESSLY DISCLAIMS ANY                  
      WARRANTY WHATSOEVER WITH RESPECT TO THE ADEQUACY OF THE                   
      IMPLEMENTATION, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OR            
      REPRESENTATIONS THAT THIS IMPLEMENTATION IS FREE FROM CLAIMS OF           
      INFRINGEMENT, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS           
      FOR A PARTICULAR PURPOSE.                                                 
                                                                                
      Xilinx products are not intended for use in life support                  
      appliances, devices, or systems. Use in such applications are             
      expressly prohibited.                                                     
                                                                                
      (c) Copyright 1995-2007 Xilinx, Inc.                                      
      All rights reserved.                                                      
                                                                                
   ")
   (comment "Core parameters: ")
       (comment "c_sinit_value = 0 ")
       (comment "c_has_en = 1 ")
       (comment "c_reg_inputs = 0 ")
       (comment "c_yclk_is_rising = 1 ")
       (comment "c_ysinit_is_high = 1 ")
       (comment "c_ywe_is_high = 1 ")
       (comment "c_yprimitive_type = 16kx1 ")
       (comment "c_ytop_addr = 1024 ")
       (comment "c_yhierarchy = hierarchy1 ")
       (comment "c_has_limit_data_pitch = 0 ")
       (comment "c_has_rdy = 0 ")
       (comment "c_write_mode = 0 ")
       (comment "c_width = 18 ")
       (comment "c_yuse_single_primitive = 0 ")
       (comment "c_has_nd = 0 ")
       (comment "c_has_we = 0 ")
       (comment "c_enable_rlocs = 0 ")
       (comment "c_has_rfd = 0 ")
       (comment "c_has_din = 0 ")
       (comment "c_ybottom_addr = 0 ")
       (comment "c_pipe_stages = 1 ")
       (comment "c_yen_is_high = 1 ")
       (comment "c_family = virtex2p ")
       (comment "InstanceName = single_port_block_memory_virtex2p_6_1_b70993b7b8d8be43 ")
       (comment "c_depth = 32 ")
       (comment "c_has_default_data = 0 ")
       (comment "c_limit_data_pitch = 18 ")
       (comment "c_has_sinit = 0 ")
       (comment "c_mem_init_file = single_port_block_memory_virtex2p_6_1_b70993b7b8d8be43.mif ")
       (comment "c_yydisable_warnings = 1 ")
       (comment "c_default_data = 0 ")
       (comment "c_ymake_bmm = 0 ")
       (comment "c_addr_width = 5 ")
   (external xilinxun (edifLevel 0)
      (technology (numberDefinition))
       (cell VCC (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port P (direction OUTPUT))
               )
           )
       )
       (cell GND (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port G (direction OUTPUT))
               )
           )
       )
       (cell FDE (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port D (direction INPUT))
                   (port C (direction INPUT))
                   (port CE (direction INPUT))
                   (port Q (direction OUTPUT))
               )
           )
       )
       (cell RAMB16_S18 (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port WE (direction INPUT))
                   (port EN (direction INPUT))
                   (port SSR (direction INPUT))
                   (port CLK (direction INPUT))
                   (port (rename DI_0_ "DI(0)") (direction INPUT))
                   (port (rename DI_1_ "DI(1)") (direction INPUT))
                   (port (rename DI_2_ "DI(2)") (direction INPUT))
                   (port (rename DI_3_ "DI(3)") (direction INPUT))
                   (port (rename DI_4_ "DI(4)") (direction INPUT))
                   (port (rename DI_5_ "DI(5)") (direction INPUT))
                   (port (rename DI_6_ "DI(6)") (direction INPUT))
                   (port (rename DI_7_ "DI(7)") (direction INPUT))
                   (port (rename DI_8_ "DI(8)") (direction INPUT))
                   (port (rename DI_9_ "DI(9)") (direction INPUT))
                   (port (rename DI_10_ "DI(10)") (direction INPUT))
                   (port (rename DI_11_ "DI(11)") (direction INPUT))
                   (port (rename DI_12_ "DI(12)") (direction INPUT))
                   (port (rename DI_13_ "DI(13)") (direction INPUT))
                   (port (rename DI_14_ "DI(14)") (direction INPUT))
                   (port (rename DI_15_ "DI(15)") (direction INPUT))
                   (port (rename DO_0_ "DO(0)") (direction OUTPUT))
                   (port (rename DO_1_ "DO(1)") (direction OUTPUT))
                   (port (rename DO_2_ "DO(2)") (direction OUTPUT))
                   (port (rename DO_3_ "DO(3)") (direction OUTPUT))
                   (port (rename DO_4_ "DO(4)") (direction OUTPUT))
                   (port (rename DO_5_ "DO(5)") (direction OUTPUT))
                   (port (rename DO_6_ "DO(6)") (direction OUTPUT))
                   (port (rename DO_7_ "DO(7)") (direction OUTPUT))
                   (port (rename DO_8_ "DO(8)") (direction OUTPUT))
                   (port (rename DO_9_ "DO(9)") (direction OUTPUT))
                   (port (rename DO_10_ "DO(10)") (direction OUTPUT))
                   (port (rename DO_11_ "DO(11)") (direction OUTPUT))
                   (port (rename DO_12_ "DO(12)") (direction OUTPUT))
                   (port (rename DO_13_ "DO(13)") (direction OUTPUT))
                   (port (rename DO_14_ "DO(14)") (direction OUTPUT))
                   (port (rename DO_15_ "DO(15)") (direction OUTPUT))
                   (port (rename ADDR_0_ "ADDR(0)") (direction INPUT))
                   (port (rename ADDR_1_ "ADDR(1)") (direction INPUT))
                   (port (rename ADDR_2_ "ADDR(2)") (direction INPUT))
                   (port (rename ADDR_3_ "ADDR(3)") (direction INPUT))
                   (port (rename ADDR_4_ "ADDR(4)") (direction INPUT))
                   (port (rename ADDR_5_ "ADDR(5)") (direction INPUT))
                   (port (rename ADDR_6_ "ADDR(6)") (direction INPUT))
                   (port (rename ADDR_7_ "ADDR(7)") (direction INPUT))
                   (port (rename ADDR_8_ "ADDR(8)") (direction INPUT))
                   (port (rename ADDR_9_ "ADDR(9)") (direction INPUT))
                   (port (rename DIP_0_ "DIP(0)") (direction INPUT))
                   (port (rename DIP_1_ "DIP(1)") (direction INPUT))
                   (port (rename DOP_0_ "DOP(0)") (direction OUTPUT))
                   (port (rename DOP_1_ "DOP(1)") (direction OUTPUT))
               )
           )
       )
   )
(library test_lib (edifLevel 0) (technology (numberDefinition (scale 1 (E 1 -12) (unit Time))))
(cell single_port_block_memory_virtex2p_6_1_b70993b7b8d8be43
 (cellType GENERIC) (view view_1 (viewType NETLIST)
  (interface
   (port ( array ( rename addr "addr(4:0)") 5 ) (direction INPUT))
   (port ( rename clk "clk") (direction INPUT))
   (port ( rename en "en") (direction INPUT))
   (port ( array ( rename dout "dout(17:0)") 18 ) (direction OUTPUT))
   )
  (contents
   (instance VCC (viewRef view_1 (cellRef VCC  (libraryRef xilinxun))))
   (instance GND (viewRef view_1 (cellRef GND  (libraryRef xilinxun))))
   (instance B6
      (viewRef view_1 (cellRef RAMB16_S18 (libraryRef xilinxun)))
      (property INIT_00 (string "9c1d09d7564ae38ce38c564a09d79c1d3c1126f926f93c1195f695f600000000"))
      (property INIT_01 (string "cdd102777438bb310ea53c75160c6b606b60160c3c750ea5bb3174380277cdd1"))
      (property INIT_02 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_03 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_04 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_05 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_06 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_07 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_08 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_09 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0A (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0B (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0C (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0D (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0E (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_0F (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_10 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_11 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_12 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_13 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_14 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_15 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_16 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_17 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_18 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_19 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_1A (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_1B (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_1C (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_1D (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_1E (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_1F (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_20 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_21 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_22 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_23 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_24 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_25 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_26 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_27 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_28 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_29 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_2A (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_2B (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_2C (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_2D (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_2E (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_2F (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_30 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_31 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_32 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_33 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_34 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_35 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_36 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_37 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_38 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_39 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_3A (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_3B (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_3C (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_3D (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_3E (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INIT_3F (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INITP_00 (string "000000000000000000000000000000000000000000000000eaebebabeaabeba8"))
      (property INITP_01 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INITP_02 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INITP_03 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INITP_04 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INITP_05 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INITP_06 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property INITP_07 (string "0000000000000000000000000000000000000000000000000000000000000000"))
      (property WRITE_MODE (string "WRITE_FIRST"))
      (property INIT (string "00000"))
      (property SRVAL (string "00000"))
   )
   (instance BU9
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU11
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU13
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU15
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU17
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU19
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU21
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU23
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU25
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU27
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU29
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU31
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU33
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU35
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU37
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU39
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU41
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (instance BU43
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
   )
   (net N0
    (joined
      (portRef G (instanceRef GND))
      (portRef WE (instanceRef B6))
      (portRef SSR (instanceRef B6))
      (portRef ADDR_5_ (instanceRef B6))
      (portRef ADDR_6_ (instanceRef B6))
      (portRef ADDR_7_ (instanceRef B6))
      (portRef ADDR_8_ (instanceRef B6))
      (portRef ADDR_9_ (instanceRef B6))
      (portRef DI_0_ (instanceRef B6))
      (portRef DI_1_ (instanceRef B6))
      (portRef DI_2_ (instanceRef B6))
      (portRef DI_3_ (instanceRef B6))
      (portRef DI_4_ (instanceRef B6))
      (portRef DI_5_ (instanceRef B6))
      (portRef DI_6_ (instanceRef B6))
      (portRef DI_7_ (instanceRef B6))
      (portRef DI_8_ (instanceRef B6))
      (portRef DI_9_ (instanceRef B6))
      (portRef DI_10_ (instanceRef B6))
      (portRef DI_11_ (instanceRef B6))
      (portRef DI_12_ (instanceRef B6))
      (portRef DI_13_ (instanceRef B6))
      (portRef DI_14_ (instanceRef B6))
      (portRef DI_15_ (instanceRef B6))
      (portRef DIP_0_ (instanceRef B6))
      (portRef DIP_1_ (instanceRef B6))
    )
   )
   (net (rename N2 "addr(4)")
    (joined
      (portRef (member addr 0))
      (portRef ADDR_4_ (instanceRef B6))
    )
   )
   (net (rename N3 "addr(3)")
    (joined
      (portRef (member addr 1))
      (portRef ADDR_3_ (instanceRef B6))
    )
   )
   (net (rename N4 "addr(2)")
    (joined
      (portRef (member addr 2))
      (portRef ADDR_2_ (instanceRef B6))
    )
   )
   (net (rename N5 "addr(1)")
    (joined
      (portRef (member addr 3))
      (portRef ADDR_1_ (instanceRef B6))
    )
   )
   (net (rename N6 "addr(0)")
    (joined
      (portRef (member addr 4))
      (portRef ADDR_0_ (instanceRef B6))
    )
   )
   (net (rename N7 "clk")
    (joined
      (portRef clk)
      (portRef CLK (instanceRef B6))
      (portRef C (instanceRef BU9))
      (portRef C (instanceRef BU11))
      (portRef C (instanceRef BU13))
      (portRef C (instanceRef BU15))
      (portRef C (instanceRef BU17))
      (portRef C (instanceRef BU19))
      (portRef C (instanceRef BU21))
      (portRef C (instanceRef BU23))
      (portRef C (instanceRef BU25))
      (portRef C (instanceRef BU27))
      (portRef C (instanceRef BU29))
      (portRef C (instanceRef BU31))
      (portRef C (instanceRef BU33))
      (portRef C (instanceRef BU35))
      (portRef C (instanceRef BU37))
      (portRef C (instanceRef BU39))
      (portRef C (instanceRef BU41))
      (portRef C (instanceRef BU43))
    )
   )
   (net (rename N26 "dout(17)")
    (joined
      (portRef (member dout 0))
      (portRef Q (instanceRef BU43))
    )
   )
   (net (rename N27 "dout(16)")
    (joined
      (portRef (member dout 1))
      (portRef Q (instanceRef BU41))
    )
   )
   (net (rename N28 "dout(15)")
    (joined
      (portRef (member dout 2))
      (portRef Q (instanceRef BU39))
    )
   )
   (net (rename N29 "dout(14)")
    (joined
      (portRef (member dout 3))
      (portRef Q (instanceRef BU37))
    )
   )
   (net (rename N30 "dout(13)")
    (joined
      (portRef (member dout 4))
      (portRef Q (instanceRef BU35))
    )
   )
   (net (rename N31 "dout(12)")
    (joined
      (portRef (member dout 5))
      (portRef Q (instanceRef BU33))
    )
   )
   (net (rename N32 "dout(11)")
    (joined
      (portRef (member dout 6))
      (portRef Q (instanceRef BU31))
    )
   )
   (net (rename N33 "dout(10)")
    (joined
      (portRef (member dout 7))
      (portRef Q (instanceRef BU29))
    )
   )
   (net (rename N34 "dout(9)")
    (joined
      (portRef (member dout 8))
      (portRef Q (instanceRef BU27))
    )
   )
   (net (rename N35 "dout(8)")
    (joined
      (portRef (member dout 9))
      (portRef Q (instanceRef BU25))
    )
   )
   (net (rename N36 "dout(7)")
    (joined
      (portRef (member dout 10))
      (portRef Q (instanceRef BU23))
    )
   )
   (net (rename N37 "dout(6)")
    (joined
      (portRef (member dout 11))
      (portRef Q (instanceRef BU21))
    )
   )
   (net (rename N38 "dout(5)")
    (joined
      (portRef (member dout 12))
      (portRef Q (instanceRef BU19))
    )
   )
   (net (rename N39 "dout(4)")
    (joined
      (portRef (member dout 13))
      (portRef Q (instanceRef BU17))
    )
   )
   (net (rename N40 "dout(3)")
    (joined
      (portRef (member dout 14))
      (portRef Q (instanceRef BU15))
    )
   )
   (net (rename N41 "dout(2)")
    (joined
      (portRef (member dout 15))
      (portRef Q (instanceRef BU13))
    )
   )
   (net (rename N42 "dout(1)")
    (joined
      (portRef (member dout 16))
      (portRef Q (instanceRef BU11))
    )
   )
   (net (rename N43 "dout(0)")
    (joined
      (portRef (member dout 17))
      (portRef Q (instanceRef BU9))
    )
   )
   (net (rename N44 "en")
    (joined
      (portRef en)
      (portRef EN (instanceRef B6))
      (portRef CE (instanceRef BU9))
      (portRef CE (instanceRef BU11))
      (portRef CE (instanceRef BU13))
      (portRef CE (instanceRef BU15))
      (portRef CE (instanceRef BU17))
      (portRef CE (instanceRef BU19))
      (portRef CE (instanceRef BU21))
      (portRef CE (instanceRef BU23))
      (portRef CE (instanceRef BU25))
      (portRef CE (instanceRef BU27))
      (portRef CE (instanceRef BU29))
      (portRef CE (instanceRef BU31))
      (portRef CE (instanceRef BU33))
      (portRef CE (instanceRef BU35))
      (portRef CE (instanceRef BU37))
      (portRef CE (instanceRef BU39))
      (portRef CE (instanceRef BU41))
      (portRef CE (instanceRef BU43))
    )
   )
   (net N283
    (joined
      (portRef DOP_1_ (instanceRef B6))
      (portRef D (instanceRef BU43))
    )
   )
   (net N284
    (joined
      (portRef DOP_0_ (instanceRef B6))
      (portRef D (instanceRef BU41))
    )
   )
   (net N285
    (joined
      (portRef DO_15_ (instanceRef B6))
      (portRef D (instanceRef BU39))
    )
   )
   (net N286
    (joined
      (portRef DO_14_ (instanceRef B6))
      (portRef D (instanceRef BU37))
    )
   )
   (net N287
    (joined
      (portRef DO_13_ (instanceRef B6))
      (portRef D (instanceRef BU35))
    )
   )
   (net N288
    (joined
      (portRef DO_12_ (instanceRef B6))
      (portRef D (instanceRef BU33))
    )
   )
   (net N289
    (joined
      (portRef DO_11_ (instanceRef B6))
      (portRef D (instanceRef BU31))
    )
   )
   (net N290
    (joined
      (portRef DO_10_ (instanceRef B6))
      (portRef D (instanceRef BU29))
    )
   )
   (net N291
    (joined
      (portRef DO_9_ (instanceRef B6))
      (portRef D (instanceRef BU27))
    )
   )
   (net N292
    (joined
      (portRef DO_8_ (instanceRef B6))
      (portRef D (instanceRef BU25))
    )
   )
   (net N293
    (joined
      (portRef DO_7_ (instanceRef B6))
      (portRef D (instanceRef BU23))
    )
   )
   (net N294
    (joined
      (portRef DO_6_ (instanceRef B6))
      (portRef D (instanceRef BU21))
    )
   )
   (net N295
    (joined
      (portRef DO_5_ (instanceRef B6))
      (portRef D (instanceRef BU19))
    )
   )
   (net N296
    (joined
      (portRef DO_4_ (instanceRef B6))
      (portRef D (instanceRef BU17))
    )
   )
   (net N297
    (joined
      (portRef DO_3_ (instanceRef B6))
      (portRef D (instanceRef BU15))
    )
   )
   (net N298
    (joined
      (portRef DO_2_ (instanceRef B6))
      (portRef D (instanceRef BU13))
    )
   )
   (net N299
    (joined
      (portRef DO_1_ (instanceRef B6))
      (portRef D (instanceRef BU11))
    )
   )
   (net N300
    (joined
      (portRef DO_0_ (instanceRef B6))
      (portRef D (instanceRef BU9))
    )
   )
))))
(design single_port_block_memory_virtex2p_6_1_b70993b7b8d8be43 (cellRef single_port_block_memory_virtex2p_6_1_b70993b7b8d8be43 (libraryRef test_lib))
  (property X_CORE_INFO (string "blkmemsp_v6_1, Xilinx CORE Generator 10.1.03_ip3"))
  (property PART (string "xc2vp2-fg256-7") (owner "Xilinx"))
))
