//! **************************************************************************
// Written by: Map L.68 on Tue Dec 13 16:33:16 2011
//! **************************************************************************

SCHEMATIC START;
CONFIG DCI_CASCADE = "14,13";
CONFIG DCI_CASCADE = "23,22";
CONFIG DCI_CASCADE = "28,27";
CONFIG DCI_CASCADE = "32,33";
CONFIG DCI_CASCADE = "36,35,37,38";
COMP "epb_rdy" LOCATE = SITE "L40" LEVEL 1;
COMP "adc0data2_n_i<0>" LOCATE = SITE "P28" LEVEL 1;
COMP "adc0data2_n_i<1>" LOCATE = SITE "M34" LEVEL 1;
COMP "adc0data2_n_i<2>" LOCATE = SITE "K32" LEVEL 1;
COMP "adc0data2_n_i<3>" LOCATE = SITE "K40" LEVEL 1;
COMP "adc0data2_n_i<4>" LOCATE = SITE "H41" LEVEL 1;
COMP "adc0data2_n_i<5>" LOCATE = SITE "G38" LEVEL 1;
COMP "adc0data2_n_i<6>" LOCATE = SITE "F42" LEVEL 1;
COMP "adc0data2_n_i<7>" LOCATE = SITE "C41" LEVEL 1;
COMP "epb_cs_n" LOCATE = SITE "N35" LEVEL 1;
COMP "adc0data2_p_i<0>" LOCATE = SITE "N28" LEVEL 1;
COMP "adc0data2_p_i<1>" LOCATE = SITE "L34" LEVEL 1;
COMP "adc0data2_p_i<2>" LOCATE = SITE "K33" LEVEL 1;
COMP "adc0data2_p_i<3>" LOCATE = SITE "K39" LEVEL 1;
COMP "epb_oe_n" LOCATE = SITE "AA31" LEVEL 1;
COMP "adc0data2_p_i<4>" LOCATE = SITE "H40" LEVEL 1;
COMP "adc0data2_p_i<5>" LOCATE = SITE "G37" LEVEL 1;
COMP "adc0data2_p_i<6>" LOCATE = SITE "E42" LEVEL 1;
COMP "adc0data2_p_i<7>" LOCATE = SITE "C40" LEVEL 1;
COMP "adc0data3_n_i<0>" LOCATE = SITE "L32" LEVEL 1;
COMP "adc0data3_n_i<1>" LOCATE = SITE "J36" LEVEL 1;
COMP "adc0data3_n_i<2>" LOCATE = SITE "J41" LEVEL 1;
COMP "adc0data3_n_i<3>" LOCATE = SITE "J38" LEVEL 1;
COMP "adc0data3_n_i<4>" LOCATE = SITE "H38" LEVEL 1;
COMP "adc0data3_n_i<5>" LOCATE = SITE "E40" LEVEL 1;
COMP "adc0data3_n_i<6>" LOCATE = SITE "F41" LEVEL 1;
COMP "adc0data3_n_i<7>" LOCATE = SITE "F36" LEVEL 1;
COMP "epb_doe_n" LOCATE = SITE "AF35" LEVEL 1;
COMP "adc0data3_p_i<0>" LOCATE = SITE "L31" LEVEL 1;
COMP "adc0data3_p_i<1>" LOCATE = SITE "J37" LEVEL 1;
COMP "adc0data3_p_i<2>" LOCATE = SITE "J40" LEVEL 1;
COMP "adc0data3_p_i<3>" LOCATE = SITE "K38" LEVEL 1;
COMP "adc0data3_p_i<4>" LOCATE = SITE "H39" LEVEL 1;
COMP "adc0data3_p_i<5>" LOCATE = SITE "D40" LEVEL 1;
COMP "adc0data3_p_i<6>" LOCATE = SITE "F40" LEVEL 1;
COMP "adc0data3_p_i<7>" LOCATE = SITE "F35" LEVEL 1;
COMP "adc0clk_n" LOCATE = SITE "P31" LEVEL 1;
COMP "adc0clk_p" LOCATE = SITE "P30" LEVEL 1;
COMP "epb_data<10>" LOCATE = SITE "BB14" LEVEL 1;
COMP "epb_data<11>" LOCATE = SITE "BB13" LEVEL 1;
COMP "epb_data<20>" LOCATE = SITE "R30" LEVEL 1;
COMP "epb_data<12>" LOCATE = SITE "AU13" LEVEL 1;
COMP "epb_data<21>" LOCATE = SITE "T30" LEVEL 1;
COMP "epb_data<13>" LOCATE = SITE "AU12" LEVEL 1;
COMP "epb_data<30>" LOCATE = SITE "AH33" LEVEL 1;
COMP "epb_data<22>" LOCATE = SITE "AF31" LEVEL 1;
COMP "epb_data<14>" LOCATE = SITE "AW15" LEVEL 1;
COMP "epb_data<31>" LOCATE = SITE "AJ33" LEVEL 1;
COMP "epb_data<23>" LOCATE = SITE "AG32" LEVEL 1;
COMP "epb_data<15>" LOCATE = SITE "AY15" LEVEL 1;
COMP "epb_r_w_n" LOCATE = SITE "V31" LEVEL 1;
COMP "epb_data<24>" LOCATE = SITE "U31" LEVEL 1;
COMP "epb_data<16>" LOCATE = SITE "P33" LEVEL 1;
COMP "epb_data<25>" LOCATE = SITE "T31" LEVEL 1;
COMP "epb_data<17>" LOCATE = SITE "N33" LEVEL 1;
COMP "epb_data<26>" LOCATE = SITE "AL32" LEVEL 1;
COMP "epb_data<18>" LOCATE = SITE "AG31" LEVEL 1;
COMP "epb_data<27>" LOCATE = SITE "AK32" LEVEL 1;
COMP "epb_data<19>" LOCATE = SITE "AH31" LEVEL 1;
COMP "epb_data<28>" LOCATE = SITE "R33" LEVEL 1;
COMP "epb_data<29>" LOCATE = SITE "P32" LEVEL 1;
COMP "adc0_modepin" LOCATE = SITE "B38" LEVEL 1;
COMP "epb_be_n<0>" LOCATE = SITE "Y30" LEVEL 1;
COMP "epb_be_n<1>" LOCATE = SITE "W31" LEVEL 1;
COMP "epb_be_n<2>" LOCATE = SITE "R32" LEVEL 1;
COMP "epb_be_n<3>" LOCATE = SITE "T32" LEVEL 1;
COMP "epb_addr<5>" LOCATE = SITE "AT14" LEVEL 1;
COMP "epb_addr<6>" LOCATE = SITE "AR14" LEVEL 1;
COMP "epb_addr<7>" LOCATE = SITE "AR15" LEVEL 1;
COMP "epb_addr<8>" LOCATE = SITE "AP15" LEVEL 1;
COMP "epb_addr<9>" LOCATE = SITE "AN13" LEVEL 1;
COMP "epb_clk_in" LOCATE = SITE "AY14" LEVEL 1;
COMP "adc0_adc3wire_data" LOCATE = SITE "B41" LEVEL 1;
COMP "epb_data<0>" LOCATE = SITE "AR13" LEVEL 1;
COMP "epb_data<1>" LOCATE = SITE "AP13" LEVEL 1;
COMP "epb_data<2>" LOCATE = SITE "AU14" LEVEL 1;
COMP "epb_data<3>" LOCATE = SITE "AV15" LEVEL 1;
COMP "epb_data<4>" LOCATE = SITE "AT12" LEVEL 1;
COMP "epb_data<5>" LOCATE = SITE "AR12" LEVEL 1;
COMP "epb_data<6>" LOCATE = SITE "BA14" LEVEL 1;
COMP "epb_data<7>" LOCATE = SITE "BA15" LEVEL 1;
COMP "epb_data<8>" LOCATE = SITE "AW13" LEVEL 1;
COMP "epb_data<9>" LOCATE = SITE "AW12" LEVEL 1;
COMP "adc0_adc3wire_spi_rst" LOCATE = SITE "A40" LEVEL 1;
COMP "adc0_adc3wire_clk" LOCATE = SITE "A39" LEVEL 1;
COMP "adc0data0_n_i<0>" LOCATE = SITE "R27" LEVEL 1;
COMP "adc0data0_n_i<1>" LOCATE = SITE "M32" LEVEL 1;
COMP "adc0data0_n_i<2>" LOCATE = SITE "L36" LEVEL 1;
COMP "adc0data0_n_i<3>" LOCATE = SITE "K34" LEVEL 1;
COMP "adc0data0_n_i<4>" LOCATE = SITE "H35" LEVEL 1;
COMP "adc0data0_n_i<5>" LOCATE = SITE "G42" LEVEL 1;
COMP "adc0data0_n_i<6>" LOCATE = SITE "G36" LEVEL 1;
COMP "adc0data0_n_i<7>" LOCATE = SITE "C39" LEVEL 1;
COMP "adc0data0_p_i<0>" LOCATE = SITE "P27" LEVEL 1;
COMP "adc0data0_p_i<1>" LOCATE = SITE "M33" LEVEL 1;
COMP "adc0data0_p_i<2>" LOCATE = SITE "L35" LEVEL 1;
COMP "adc0data0_p_i<3>" LOCATE = SITE "K35" LEVEL 1;
COMP "adc0data0_p_i<4>" LOCATE = SITE "J35" LEVEL 1;
COMP "adc0data0_p_i<5>" LOCATE = SITE "G41" LEVEL 1;
COMP "adc0data0_p_i<6>" LOCATE = SITE "H36" LEVEL 1;
COMP "adc0data0_p_i<7>" LOCATE = SITE "B39" LEVEL 1;
COMP "adc0data1_n_i<0>" LOCATE = SITE "R29" LEVEL 1;
COMP "adc0data1_n_i<1>" LOCATE = SITE "M37" LEVEL 1;
COMP "adc0data1_n_i<2>" LOCATE = SITE "N30" LEVEL 1;
COMP "adc0data1_n_i<3>" LOCATE = SITE "L37" LEVEL 1;
COMP "adc0data1_n_i<4>" LOCATE = SITE "H34" LEVEL 1;
COMP "adc0data1_n_i<5>" LOCATE = SITE "G39" LEVEL 1;
COMP "adc0data1_n_i<6>" LOCATE = SITE "E37" LEVEL 1;
COMP "adc0data1_n_i<7>" LOCATE = SITE "D41" LEVEL 1;
COMP "epb_addr<10>" LOCATE = SITE "AN14" LEVEL 1;
COMP "epb_addr<11>" LOCATE = SITE "AM12" LEVEL 1;
COMP "epb_addr<20>" LOCATE = SITE "AH29" LEVEL 1;
COMP "epb_addr<12>" LOCATE = SITE "AM13" LEVEL 1;
COMP "epb_addr<21>" LOCATE = SITE "AG29" LEVEL 1;
COMP "epb_addr<13>" LOCATE = SITE "AV14" LEVEL 1;
COMP "epb_addr<22>" LOCATE = SITE "AD30" LEVEL 1;
COMP "epb_addr<14>" LOCATE = SITE "AJ32" LEVEL 1;
COMP "epb_addr<23>" LOCATE = SITE "AC30" LEVEL 1;
COMP "epb_addr<15>" LOCATE = SITE "AJ31" LEVEL 1;
COMP "epb_addr<24>" LOCATE = SITE "AY13" LEVEL 1;
COMP "epb_addr<16>" LOCATE = SITE "AK30" LEVEL 1;
COMP "epb_addr<25>" LOCATE = SITE "AV13" LEVEL 1;
COMP "epb_addr<17>" LOCATE = SITE "AJ30" LEVEL 1;
COMP "epb_addr<26>" LOCATE = SITE "AD31" LEVEL 1;
COMP "epb_addr<18>" LOCATE = SITE "AK33" LEVEL 1;
COMP "epb_addr<27>" LOCATE = SITE "AB31" LEVEL 1;
COMP "epb_addr<19>" LOCATE = SITE "AH30" LEVEL 1;
COMP "epb_addr<28>" LOCATE = SITE "AC31" LEVEL 1;
COMP "adc0data1_p_i<0>" LOCATE = SITE "R28" LEVEL 1;
COMP "epb_addr<29>" LOCATE = SITE "AA30" LEVEL 1;
COMP "adc0data1_p_i<1>" LOCATE = SITE "M36" LEVEL 1;
COMP "adc0data1_p_i<2>" LOCATE = SITE "N29" LEVEL 1;
COMP "adc0data1_p_i<3>" LOCATE = SITE "K37" LEVEL 1;
COMP "sys_clk_n" LOCATE = SITE "AP12" LEVEL 1;
COMP "adc0data1_p_i<4>" LOCATE = SITE "G34" LEVEL 1;
COMP "sys_clk_p" LOCATE = SITE "AP11" LEVEL 1;
COMP "adc0data1_p_i<5>" LOCATE = SITE "F39" LEVEL 1;
COMP "adc0data1_p_i<6>" LOCATE = SITE "F37" LEVEL 1;
COMP "adc0data1_p_i<7>" LOCATE = SITE "D42" LEVEL 1;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKU;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKL;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[10].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[10].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKU;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[10].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[10].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKL;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[11].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[11].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKU;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[11].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[11].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKL;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[12].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[12].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKU;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[12].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[12].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKL;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[13].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[13].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKU;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[13].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[13].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKL;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[14].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[14].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKU;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[14].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[14].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKL;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[15].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[15].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKU;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[15].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[15].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKL;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKU;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKL;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKU;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKL;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKU;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKL;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKU;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKL;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKU;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKL;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKU;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKL;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKU;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKL;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[8].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[8].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKU;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[8].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[8].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKL;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[9].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[9].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKU;
PIN
        adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[9].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>
        = BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[9].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP"
        PINNAME CLKBWRCLKL;
TIMEGRP sys_clk = BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/timeout_counter_0" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/timeout_counter_9" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/timeout_counter_8" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/timeout_counter_7" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/timeout_counter_6" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/timeout_counter_5" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/timeout_counter_4" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/timeout_counter_3" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/timeout_counter_2" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/timeout_counter_1" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/cmnd_ack_reg" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/cmnd_got" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/resp_ack" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/cmnd_got_retimed" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_r_w_n_reg" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_31" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_30" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_29" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_28" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_27" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_26" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_25" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_24" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_23" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_22" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_21" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_20" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_19" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_18" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_17" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_16" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_15" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_14" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_13" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_12" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_11" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_10" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_9" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_8" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_7" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_6" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_5" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_4" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_3" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_2" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_1" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_data_i_reg_0" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_24" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_23" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_22" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_21" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_20" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_19" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_18" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_17" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_16" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_15" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_14" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_13" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_12" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_11" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_10" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_9" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_8" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_7" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_6" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_5" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_4" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_3" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_2" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_1" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_addr_reg_0" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_be_n_reg_3" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_be_n_reg_2" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_be_n_reg_1" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/epb_be_n_reg_0" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_31" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_30" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_29" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_28" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_27" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_26" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_25" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_24" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_23" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_22" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_21" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_20" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_19" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_18" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_17" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_16" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_15" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_14" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_13" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_12" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_11" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_10" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_9" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_8" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_7" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_6" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_5" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_4" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_3" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_2" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_1" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/OPB_DBus_reg_0" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/resp_got_reg" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/M_select_reg" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/internal_timeout_reg" BEL
        "epb_opb_bridge_inst/epb_opb_bridge_inst/resp_ack_retimed" BEL
        "opb0/opb0/POR_SRL_I/SRL16E" BEL
        "opb0/opb0/OPB_ARBITER_I/OPB_ARBITER_CORE_I/WATCHDOG_TIMER_I/OPB_timeout"
        BEL "opb0/opb0/POR_FF_I" BEL
        "opb0/opb0/OPB_ARBITER_I/OPB_ARBITER_CORE_I/WATCHDOG_TIMER_I/timeout_cnt_2"
        BEL
        "opb0/opb0/OPB_ARBITER_I/OPB_ARBITER_CORE_I/WATCHDOG_TIMER_I/timeout_cnt_1"
        BEL
        "opb0/opb0/OPB_ARBITER_I/OPB_ARBITER_CORE_I/WATCHDOG_TIMER_I/timeout_cnt_3"
        BEL
        "opb0/opb0/OPB_ARBITER_I/OPB_ARBITER_CORE_I/WATCHDOG_TIMER_I/timeout_cnt_0"
        BEL "sys_block_inst/sys_block_inst/latch_state_FSM_FFd2" BEL
        "sys_block_inst/sys_block_inst/soft_reset" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_0" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_1" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_2" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_3" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_4" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_5" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_6" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_7" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_8" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_9" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_10" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_11" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_12" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_13" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_14" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_15" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_16" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_17" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_18" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_19" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_20" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_21" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_22" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_23" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_24" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_25" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_26" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_27" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_28" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_29" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_30" BEL
        "sys_block_inst/sys_block_inst/fab_clk_counter_latched_31" BEL
        "sys_block_inst/sys_block_inst/latch_start" BEL
        "sys_block_inst/sys_block_inst/Sl_xferAck" BEL
        "sys_block_inst/sys_block_inst/bus_wait" BEL
        "sys_block_inst/sys_block_inst/latch_state_FSM_FFd1" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_0" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_1" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_2" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_3" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_4" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_5" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_6" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_7" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_8" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_9" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_10" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_11" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_12" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_13" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_14" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_15" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_16" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_17" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_18" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_19" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_20" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_21" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_22" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_23" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_24" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_25" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_26" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_27" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_28" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_29" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_30" BEL
        "sys_block_inst/sys_block_inst/scratch_pad_31" BEL
        "sys_block_inst/sys_block_inst/Mshreg_val_gotRR" BEL
        "sys_block_inst/sys_block_inst/val_gotRR" BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/has_mux_b.B/sel_pipe_0"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/has_mux_b.B/sel_pipe_1"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/Sl_xferAck_reg"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/register_ready"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_31"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_30"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_29"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_28"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_27"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_26"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_25"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_24"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_23"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_22"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_21"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_20"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_19"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_18"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_17"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_16"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_15"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_14"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_13"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_12"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_11"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_10"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_9"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_8"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_7"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_6"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_5"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_4"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_3"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_2"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_1"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/reg_buffer_0"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/Sl_xferAck_reg_1"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/Mshreg_register_doneRR"
        BEL
        "adc5g_r2_char_b02_snapshot0_ctrl/adc5g_r2_char_b02_snapshot0_ctrl/register_doneRR"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/Sl_xferAck_reg"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_request"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_31"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_30"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_29"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_28"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_27"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_26"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_25"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_24"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_23"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_22"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_21"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_20"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_19"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_18"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_17"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_16"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_15"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_14"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_13"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_12"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_11"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_10"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_9"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_8"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_7"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_6"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_5"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_4"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_3"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_2"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_1"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_buffer_0"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/Mshreg_register_readyRR"
        BEL
        "adc5g_r2_char_b02_snapshot0_status/adc5g_r2_char_b02_snapshot0_status/register_readyRR"
        BEL "reset_block_inst/reset_block_inst/delay_counter_31" BEL
        "reset_block_inst/reset_block_inst/delay_counter_30" BEL
        "reset_block_inst/reset_block_inst/delay_counter_29" BEL
        "reset_block_inst/reset_block_inst/delay_counter_28" BEL
        "reset_block_inst/reset_block_inst/delay_counter_27" BEL
        "reset_block_inst/reset_block_inst/delay_counter_26" BEL
        "reset_block_inst/reset_block_inst/delay_counter_25" BEL
        "reset_block_inst/reset_block_inst/delay_counter_24" BEL
        "reset_block_inst/reset_block_inst/delay_counter_23" BEL
        "reset_block_inst/reset_block_inst/delay_counter_22" BEL
        "reset_block_inst/reset_block_inst/delay_counter_21" BEL
        "reset_block_inst/reset_block_inst/delay_counter_20" BEL
        "reset_block_inst/reset_block_inst/delay_counter_19" BEL
        "reset_block_inst/reset_block_inst/delay_counter_18" BEL
        "reset_block_inst/reset_block_inst/delay_counter_17" BEL
        "reset_block_inst/reset_block_inst/delay_counter_16" BEL
        "reset_block_inst/reset_block_inst/delay_counter_15" BEL
        "reset_block_inst/reset_block_inst/delay_counter_14" BEL
        "reset_block_inst/reset_block_inst/delay_counter_13" BEL
        "reset_block_inst/reset_block_inst/delay_counter_12" BEL
        "reset_block_inst/reset_block_inst/delay_counter_11" BEL
        "reset_block_inst/reset_block_inst/delay_counter_10" BEL
        "reset_block_inst/reset_block_inst/delay_counter_9" BEL
        "reset_block_inst/reset_block_inst/delay_counter_8" BEL
        "reset_block_inst/reset_block_inst/delay_counter_7" BEL
        "reset_block_inst/reset_block_inst/delay_counter_6" BEL
        "reset_block_inst/reset_block_inst/delay_counter_5" BEL
        "reset_block_inst/reset_block_inst/delay_counter_4" BEL
        "reset_block_inst/reset_block_inst/delay_counter_3" BEL
        "reset_block_inst/reset_block_inst/delay_counter_2" BEL
        "reset_block_inst/reset_block_inst/delay_counter_1" BEL
        "reset_block_inst/reset_block_inst/delay_counter_0" BEL
        "reset_block_inst/reset_block_inst/width_counter_31" BEL
        "reset_block_inst/reset_block_inst/width_counter_30" BEL
        "reset_block_inst/reset_block_inst/width_counter_29" BEL
        "reset_block_inst/reset_block_inst/width_counter_28" BEL
        "reset_block_inst/reset_block_inst/width_counter_27" BEL
        "reset_block_inst/reset_block_inst/width_counter_26" BEL
        "reset_block_inst/reset_block_inst/width_counter_25" BEL
        "reset_block_inst/reset_block_inst/width_counter_24" BEL
        "reset_block_inst/reset_block_inst/width_counter_23" BEL
        "reset_block_inst/reset_block_inst/width_counter_22" BEL
        "reset_block_inst/reset_block_inst/width_counter_21" BEL
        "reset_block_inst/reset_block_inst/width_counter_20" BEL
        "reset_block_inst/reset_block_inst/width_counter_19" BEL
        "reset_block_inst/reset_block_inst/width_counter_18" BEL
        "reset_block_inst/reset_block_inst/width_counter_17" BEL
        "reset_block_inst/reset_block_inst/width_counter_16" BEL
        "reset_block_inst/reset_block_inst/width_counter_15" BEL
        "reset_block_inst/reset_block_inst/width_counter_14" BEL
        "reset_block_inst/reset_block_inst/width_counter_13" BEL
        "reset_block_inst/reset_block_inst/width_counter_12" BEL
        "reset_block_inst/reset_block_inst/width_counter_11" BEL
        "reset_block_inst/reset_block_inst/width_counter_10" BEL
        "reset_block_inst/reset_block_inst/width_counter_9" BEL
        "reset_block_inst/reset_block_inst/width_counter_8" BEL
        "reset_block_inst/reset_block_inst/width_counter_7" BEL
        "reset_block_inst/reset_block_inst/width_counter_6" BEL
        "reset_block_inst/reset_block_inst/width_counter_5" BEL
        "reset_block_inst/reset_block_inst/width_counter_4" BEL
        "reset_block_inst/reset_block_inst/width_counter_3" BEL
        "reset_block_inst/reset_block_inst/width_counter_2" BEL
        "reset_block_inst/reset_block_inst/width_counter_1" BEL
        "reset_block_inst/reset_block_inst/width_counter_0" BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/ip2bus_rdack"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/postedwrack_s2"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_xferack_s1_d1"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_xferack_s2"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_0"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_1"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_2"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_3"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_4"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_5"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_6"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_7"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_8"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_9"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_10"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_11"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_12"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_13"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_14"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_15"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_16"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_17"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_18"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_19"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_20"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_21"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_22"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_23"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_24"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_25"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_26"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_27"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_28"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_29"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_30"
        BEL
        "adc5g_r2_char_b02_snapshot0_bram/adc5g_r2_char_b02_snapshot0_bram/I_opb_ipif/OPB_BAM_I/sln_dbus_s2_31"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[10].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[10].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[11].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[11].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[12].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[12].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[13].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[13].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[14].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[14].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[15].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[15].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[8].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[8].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[9].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<65>"
        PIN
        "adc5g_r2_char_b02_snapshot0_bram_ramblk/adc5g_r2_char_b02_snapshot0_bram_ramblk/bram_inst/BU2/U0/blk_mem_generator/valid.cstr/ramloop[9].ram.r/v5_noinit.ram/TRUE_DP.SINGLE_PRIM36.TDP_pins<64>";
NET "adc5g_r2_char_b02_asiaa_adc5g/adc5g_r2_char_b02_asiaa_adc5g/adc_clk"
        PERIOD = 4 ns HIGH 50%;
NET "adc5g_r2_char_b02_asiaa_adc5g/adc5g_r2_char_b02_asiaa_adc5g/adc_clk"
        PERIOD = 4 ns HIGH 50%;
TS_sys_clk = PERIOD TIMEGRP "sys_clk" 100 MHz HIGH 50%;
SCHEMATIC END;

