(edif test (edifVersion 2 0 0) (edifLevel 0) (keywordMap (keywordLevel 0))
(status (written (timeStamp 2010 1 6 14 56 30)
   (author "Xilinx, Inc.")
   (program "Xilinx CORE Generator" (version "Xilinx CORE Generator 10.1.03; Cores Update # 3"))))
   (comment "                                                                                
      This file is owned and controlled by Xilinx and must be used              
      solely for design, simulation, implementation and creation of             
      design files limited to Xilinx devices or technologies. Use               
      with non-Xilinx devices or technologies is expressly prohibited           
      and immediately terminates your license.                                  
                                                                                
      XILINX IS PROVIDING THIS DESIGN, CODE, OR INFORMATION 'AS IS'             
      SOLELY FOR USE IN DEVELOPING PROGRAMS AND SOLUTIONS FOR                   
      XILINX DEVICES.  BY PROVIDING THIS DESIGN, CODE, OR INFORMATION           
      AS ONE POSSIBLE IMPLEMENTATION OF THIS FEATURE, APPLICATION               
      OR STANDARD, XILINX IS MAKING NO REPRESENTATION THAT THIS                 
      IMPLEMENTATION IS FREE FROM ANY CLAIMS OF INFRINGEMENT,                   
      AND YOU ARE RESPONSIBLE FOR OBTAINING ANY RIGHTS YOU MAY REQUIRE          
      FOR YOUR IMPLEMENTATION.  XILINX EXPRESSLY DISCLAIMS ANY                  
      WARRANTY WHATSOEVER WITH RESPECT TO THE ADEQUACY OF THE                   
      IMPLEMENTATION, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OR            
      REPRESENTATIONS THAT THIS IMPLEMENTATION IS FREE FROM CLAIMS OF           
      INFRINGEMENT, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS           
      FOR A PARTICULAR PURPOSE.                                                 
                                                                                
      Xilinx products are not intended for use in life support                  
      appliances, devices, or systems. Use in such applications are             
      expressly prohibited.                                                     
                                                                                
      (c) Copyright 1995-2007 Xilinx, Inc.                                      
      All rights reserved.                                                      
                                                                                
   ")
   (comment "Core parameters: ")
       (comment "c_qualify_we = false ")
       (comment "c_mem_type = 0 ")
       (comment "c_has_qdpo_rst = false ")
       (comment "InstanceName = distributed_memory_virtex2p_7_1_ff1763ab93720ffc ")
       (comment "c_has_qspo = true ")
       (comment "c_has_qspo_rst = false ")
       (comment "c_family = virtex2p ")
       (comment "c_has_dpo = false ")
       (comment "c_has_qdpo_clk = false ")
       (comment "c_has_d = false ")
       (comment "c_qce_joined = false ")
       (comment "c_width = 18 ")
       (comment "c_reg_a_d_inputs = false ")
       (comment "c_latency = 1 ")
       (comment "c_has_spo = false ")
       (comment "c_has_we = false ")
       (comment "c_depth = 16 ")
       (comment "c_has_i_ce = false ")
       (comment "c_default_data_radix = 1 ")
       (comment "c_default_data = 0 ")
       (comment "c_has_dpra = false ")
       (comment "c_has_clk = true ")
       (comment "c_enable_rlocs = true ")
       (comment "c_generate_mif = true ")
       (comment "c_has_qspo_ce = true ")
       (comment "c_addr_width = 4 ")
       (comment "c_has_qdpo_srst = false ")
       (comment "c_mux_type = 0 ")
       (comment "c_has_spra = false ")
       (comment "c_has_qdpo = false ")
       (comment "c_mem_init_file = distributed_memory_virtex2p_7_1_ff1763ab93720ffc.mif ")
       (comment "c_reg_dpra_input = false ")
       (comment "c_has_qspo_srst = false ")
       (comment "c_has_rd_en = false ")
       (comment "c_read_mif = true ")
       (comment "c_sync_enable = 0 ")
       (comment "c_has_qdpo_ce = false ")
   (external xilinxun (edifLevel 0)
      (technology (numberDefinition))
       (cell VCC (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port P (direction OUTPUT))
               )
           )
       )
       (cell GND (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port G (direction OUTPUT))
               )
           )
       )
       (cell FDE (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port D (direction INPUT))
                   (port C (direction INPUT))
                   (port CE (direction INPUT))
                   (port Q (direction OUTPUT))
               )
           )
       )
       (cell LUT4 (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port I0 (direction INPUT))
                   (port I1 (direction INPUT))
                   (port I2 (direction INPUT))
                   (port I3 (direction INPUT))
                   (port O (direction OUTPUT))
               )
           )
       )
   )
(library test_lib (edifLevel 0) (technology (numberDefinition (scale 1 (E 1 -12) (unit Time))))
(cell distributed_memory_virtex2p_7_1_ff1763ab93720ffc
 (cellType GENERIC) (view view_1 (viewType NETLIST)
  (interface
   (port ( array ( rename A "A(3:0)") 4 ) (direction INPUT))
   (port ( rename CLK "CLK") (direction INPUT))
   (port ( rename QSPO_CE "QSPO_CE") (direction INPUT))
   (port ( array ( rename QSPO "QSPO(17:0)") 18 ) (direction OUTPUT))
   )
  (contents
   (instance VCC (viewRef view_1 (cellRef VCC  (libraryRef xilinxun))))
   (instance GND (viewRef view_1 (cellRef GND  (libraryRef xilinxun))))
   (instance BU10
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y4"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "0000"))
   )
   (instance BU12
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
      (property RLOC (string "x3y4"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU16
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y4"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "000c"))
   )
   (instance BU18
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
      (property RLOC (string "x3y4"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU22
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y5"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "000c"))
   )
   (instance BU24
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
      (property RLOC (string "x3y5"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU28
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y5"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "0000"))
   )
   (instance BU30
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
      (property RLOC (string "x3y5"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU34
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y8"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "000c"))
   )
   (instance BU36
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
      (property RLOC (string "x3y8"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU40
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y8"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "000c"))
   )
   (instance BU42
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
      (property RLOC (string "x3y8"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU46
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y9"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "000c"))
   )
   (instance BU48
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
      (property RLOC (string "x3y9"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU52
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y9"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "000c"))
   )
   (instance BU54
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
      (property RLOC (string "x3y9"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU58
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y12"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "000c"))
   )
   (instance BU60
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
      (property RLOC (string "x3y12"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU64
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y12"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "0000"))
   )
   (instance BU66
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
      (property RLOC (string "x3y12"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU70
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y13"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "000c"))
   )
   (instance BU72
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
      (property RLOC (string "x3y13"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU76
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y13"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "0000"))
   )
   (instance BU78
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
      (property RLOC (string "x3y13"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU82
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y16"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "000c"))
   )
   (instance BU84
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
      (property RLOC (string "x3y16"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU88
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y16"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "0000"))
   )
   (instance BU90
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
      (property RLOC (string "x3y16"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU94
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y17"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "0000"))
   )
   (instance BU96
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
      (property RLOC (string "x3y17"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU100
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y17"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "000c"))
   )
   (instance BU102
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
      (property RLOC (string "x3y17"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU106
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y20"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "0000"))
   )
   (instance BU108
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
      (property RLOC (string "x3y20"))
      (property RPM_GRID (string "GRID"))
   )
   (instance BU112
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "x3y20"))
      (property RPM_GRID (string "GRID"))
      (property INIT (string "000e"))
   )
   (instance BU114
      (viewRef view_1 (cellRef FDE (libraryRef xilinxun)))
      (property RLOC (string "x3y20"))
      (property RPM_GRID (string "GRID"))
   )
   (net (rename N2 "A(0)")
    (joined
      (portRef (member A 3))
      (portRef I0 (instanceRef BU10))
      (portRef I0 (instanceRef BU16))
      (portRef I0 (instanceRef BU22))
      (portRef I0 (instanceRef BU28))
      (portRef I0 (instanceRef BU34))
      (portRef I0 (instanceRef BU40))
      (portRef I0 (instanceRef BU46))
      (portRef I0 (instanceRef BU52))
      (portRef I0 (instanceRef BU58))
      (portRef I0 (instanceRef BU64))
      (portRef I0 (instanceRef BU70))
      (portRef I0 (instanceRef BU76))
      (portRef I0 (instanceRef BU82))
      (portRef I0 (instanceRef BU88))
      (portRef I0 (instanceRef BU94))
      (portRef I0 (instanceRef BU100))
      (portRef I0 (instanceRef BU106))
      (portRef I0 (instanceRef BU112))
    )
   )
   (net (rename N3 "A(1)")
    (joined
      (portRef (member A 2))
      (portRef I1 (instanceRef BU10))
      (portRef I1 (instanceRef BU16))
      (portRef I1 (instanceRef BU22))
      (portRef I1 (instanceRef BU28))
      (portRef I1 (instanceRef BU34))
      (portRef I1 (instanceRef BU40))
      (portRef I1 (instanceRef BU46))
      (portRef I1 (instanceRef BU52))
      (portRef I1 (instanceRef BU58))
      (portRef I1 (instanceRef BU64))
      (portRef I1 (instanceRef BU70))
      (portRef I1 (instanceRef BU76))
      (portRef I1 (instanceRef BU82))
      (portRef I1 (instanceRef BU88))
      (portRef I1 (instanceRef BU94))
      (portRef I1 (instanceRef BU100))
      (portRef I1 (instanceRef BU106))
      (portRef I1 (instanceRef BU112))
    )
   )
   (net (rename N4 "A(2)")
    (joined
      (portRef (member A 1))
      (portRef I2 (instanceRef BU10))
      (portRef I2 (instanceRef BU16))
      (portRef I2 (instanceRef BU22))
      (portRef I2 (instanceRef BU28))
      (portRef I2 (instanceRef BU34))
      (portRef I2 (instanceRef BU40))
      (portRef I2 (instanceRef BU46))
      (portRef I2 (instanceRef BU52))
      (portRef I2 (instanceRef BU58))
      (portRef I2 (instanceRef BU64))
      (portRef I2 (instanceRef BU70))
      (portRef I2 (instanceRef BU76))
      (portRef I2 (instanceRef BU82))
      (portRef I2 (instanceRef BU88))
      (portRef I2 (instanceRef BU94))
      (portRef I2 (instanceRef BU100))
      (portRef I2 (instanceRef BU106))
      (portRef I2 (instanceRef BU112))
    )
   )
   (net (rename N5 "A(3)")
    (joined
      (portRef (member A 0))
      (portRef I3 (instanceRef BU10))
      (portRef I3 (instanceRef BU16))
      (portRef I3 (instanceRef BU22))
      (portRef I3 (instanceRef BU28))
      (portRef I3 (instanceRef BU34))
      (portRef I3 (instanceRef BU40))
      (portRef I3 (instanceRef BU46))
      (portRef I3 (instanceRef BU52))
      (portRef I3 (instanceRef BU58))
      (portRef I3 (instanceRef BU64))
      (portRef I3 (instanceRef BU70))
      (portRef I3 (instanceRef BU76))
      (portRef I3 (instanceRef BU82))
      (portRef I3 (instanceRef BU88))
      (portRef I3 (instanceRef BU94))
      (portRef I3 (instanceRef BU100))
      (portRef I3 (instanceRef BU106))
      (portRef I3 (instanceRef BU112))
    )
   )
   (net (rename N6 "CLK")
    (joined
      (portRef CLK)
      (portRef C (instanceRef BU12))
      (portRef C (instanceRef BU18))
      (portRef C (instanceRef BU24))
      (portRef C (instanceRef BU30))
      (portRef C (instanceRef BU36))
      (portRef C (instanceRef BU42))
      (portRef C (instanceRef BU48))
      (portRef C (instanceRef BU54))
      (portRef C (instanceRef BU60))
      (portRef C (instanceRef BU66))
      (portRef C (instanceRef BU72))
      (portRef C (instanceRef BU78))
      (portRef C (instanceRef BU84))
      (portRef C (instanceRef BU90))
      (portRef C (instanceRef BU96))
      (portRef C (instanceRef BU102))
      (portRef C (instanceRef BU108))
      (portRef C (instanceRef BU114))
    )
   )
   (net (rename N7 "QSPO_CE")
    (joined
      (portRef QSPO_CE)
      (portRef CE (instanceRef BU12))
      (portRef CE (instanceRef BU18))
      (portRef CE (instanceRef BU24))
      (portRef CE (instanceRef BU30))
      (portRef CE (instanceRef BU36))
      (portRef CE (instanceRef BU42))
      (portRef CE (instanceRef BU48))
      (portRef CE (instanceRef BU54))
      (portRef CE (instanceRef BU60))
      (portRef CE (instanceRef BU66))
      (portRef CE (instanceRef BU72))
      (portRef CE (instanceRef BU78))
      (portRef CE (instanceRef BU84))
      (portRef CE (instanceRef BU90))
      (portRef CE (instanceRef BU96))
      (portRef CE (instanceRef BU102))
      (portRef CE (instanceRef BU108))
      (portRef CE (instanceRef BU114))
    )
   )
   (net (rename N8 "QSPO(0)")
    (joined
      (portRef (member QSPO 17))
      (portRef Q (instanceRef BU12))
    )
   )
   (net (rename N9 "QSPO(1)")
    (joined
      (portRef (member QSPO 16))
      (portRef Q (instanceRef BU18))
    )
   )
   (net (rename N10 "QSPO(2)")
    (joined
      (portRef (member QSPO 15))
      (portRef Q (instanceRef BU24))
    )
   )
   (net (rename N11 "QSPO(3)")
    (joined
      (portRef (member QSPO 14))
      (portRef Q (instanceRef BU30))
    )
   )
   (net (rename N12 "QSPO(4)")
    (joined
      (portRef (member QSPO 13))
      (portRef Q (instanceRef BU36))
    )
   )
   (net (rename N13 "QSPO(5)")
    (joined
      (portRef (member QSPO 12))
      (portRef Q (instanceRef BU42))
    )
   )
   (net (rename N14 "QSPO(6)")
    (joined
      (portRef (member QSPO 11))
      (portRef Q (instanceRef BU48))
    )
   )
   (net (rename N15 "QSPO(7)")
    (joined
      (portRef (member QSPO 10))
      (portRef Q (instanceRef BU54))
    )
   )
   (net (rename N16 "QSPO(8)")
    (joined
      (portRef (member QSPO 9))
      (portRef Q (instanceRef BU60))
    )
   )
   (net (rename N17 "QSPO(9)")
    (joined
      (portRef (member QSPO 8))
      (portRef Q (instanceRef BU66))
    )
   )
   (net (rename N18 "QSPO(10)")
    (joined
      (portRef (member QSPO 7))
      (portRef Q (instanceRef BU72))
    )
   )
   (net (rename N19 "QSPO(11)")
    (joined
      (portRef (member QSPO 6))
      (portRef Q (instanceRef BU78))
    )
   )
   (net (rename N20 "QSPO(12)")
    (joined
      (portRef (member QSPO 5))
      (portRef Q (instanceRef BU84))
    )
   )
   (net (rename N21 "QSPO(13)")
    (joined
      (portRef (member QSPO 4))
      (portRef Q (instanceRef BU90))
    )
   )
   (net (rename N22 "QSPO(14)")
    (joined
      (portRef (member QSPO 3))
      (portRef Q (instanceRef BU96))
    )
   )
   (net (rename N23 "QSPO(15)")
    (joined
      (portRef (member QSPO 2))
      (portRef Q (instanceRef BU102))
    )
   )
   (net (rename N24 "QSPO(16)")
    (joined
      (portRef (member QSPO 1))
      (portRef Q (instanceRef BU108))
    )
   )
   (net (rename N25 "QSPO(17)")
    (joined
      (portRef (member QSPO 0))
      (portRef Q (instanceRef BU114))
    )
   )
   (net N88
    (joined
      (portRef O (instanceRef BU10))
      (portRef D (instanceRef BU12))
    )
   )
   (net N89
    (joined
      (portRef O (instanceRef BU16))
      (portRef D (instanceRef BU18))
    )
   )
   (net N90
    (joined
      (portRef O (instanceRef BU22))
      (portRef D (instanceRef BU24))
    )
   )
   (net N91
    (joined
      (portRef O (instanceRef BU28))
      (portRef D (instanceRef BU30))
    )
   )
   (net N92
    (joined
      (portRef O (instanceRef BU34))
      (portRef D (instanceRef BU36))
    )
   )
   (net N93
    (joined
      (portRef O (instanceRef BU40))
      (portRef D (instanceRef BU42))
    )
   )
   (net N94
    (joined
      (portRef O (instanceRef BU46))
      (portRef D (instanceRef BU48))
    )
   )
   (net N95
    (joined
      (portRef O (instanceRef BU52))
      (portRef D (instanceRef BU54))
    )
   )
   (net N96
    (joined
      (portRef O (instanceRef BU58))
      (portRef D (instanceRef BU60))
    )
   )
   (net N97
    (joined
      (portRef O (instanceRef BU64))
      (portRef D (instanceRef BU66))
    )
   )
   (net N98
    (joined
      (portRef O (instanceRef BU70))
      (portRef D (instanceRef BU72))
    )
   )
   (net N99
    (joined
      (portRef O (instanceRef BU76))
      (portRef D (instanceRef BU78))
    )
   )
   (net N100
    (joined
      (portRef O (instanceRef BU82))
      (portRef D (instanceRef BU84))
    )
   )
   (net N101
    (joined
      (portRef O (instanceRef BU88))
      (portRef D (instanceRef BU90))
    )
   )
   (net N102
    (joined
      (portRef O (instanceRef BU94))
      (portRef D (instanceRef BU96))
    )
   )
   (net N103
    (joined
      (portRef O (instanceRef BU100))
      (portRef D (instanceRef BU102))
    )
   )
   (net N104
    (joined
      (portRef O (instanceRef BU106))
      (portRef D (instanceRef BU108))
    )
   )
   (net N105
    (joined
      (portRef O (instanceRef BU112))
      (portRef D (instanceRef BU114))
    )
   )
))))
(design distributed_memory_virtex2p_7_1_ff1763ab93720ffc (cellRef distributed_memory_virtex2p_7_1_ff1763ab93720ffc (libraryRef test_lib))
  (property X_CORE_INFO (string "C_DIST_MEM_V7_1, Xilinx CORE Generator 10.1.03_ip3"))
  (property PART (string "xc2vp2-fg256-7") (owner "Xilinx"))
))
